# Environment variables
.env

# cache directory
*__pycache__/
*.pyc
*.vscode/
.langgraph_api/

# Vector Store - DO NOT COMMIT
chroma_db/

# Log files
*log

# private data
data/

# experiments directories
experiments/
build/