langchain-google-genai==3.1.0
langchain-google-vertexai==3.1.0
langgraph==1.0.3
google-cloud-aiplatform==1.128.0
python-dotenv==1.2.1
langchain-tavily==0.2.13
langchain_community==0.4.1
wikipedia==1.4.0
langgraph-cli[inmem]